@page "/settings"
@using MainAppIotHub.ViewModels
@inject SettingsViewModel viewModel

<div id="settings-container" class="container">

    <h3 class="headline">SETTINGS</h3>

    <div class="prompt">
        <div id="connection-status" class="body">
            <h3>Connection to Azure IoT Hub: </h3>
            <i class="fa-solid fa-wifi @(isInitialized ? "initialized" : null)"></i>
            <p>@(isInitialized ? "(Connected)" : "(Not Connected)")</p>
        </div>
    </div>

    <div class="form-container">
        <form @onsubmit="HandleSubmit">
            <div>
                <label for="connectionstring">Azure IoT Hub Connection String</label>
                <input type="text" id="connectionstring" placeholder="Connection String..." @bind="viewModel.ConnectionString" />
            </div>
            
            <button class="submit-btn" type="submit">Connect</button>
        </form>
    </div>

</div>

@code {
    private bool isInitialized;

    private void HandleSubmit()
    {
        var result = viewModel.InitializeIotHubHandler();

        if (!result)
            isInitialized = false;
        else
            isInitialized = true;
    }
}
